.navbar {
    background-color: #ffffff;
    padding: 0px;
}
#navname {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    color: #ffffff;
    padding: 30px;
    padding-top: 24px;
    padding-bottom: 24px;
}
#navbarbuttons {
    font-size: 22px;
    color: #777777;
    margin-left: 14px;
}
#navbartotal {
    width: 989px;
}
#topbg {
    background-color: #ffffff;
    width: 100%;
    height: 102px;
    z-index: -1;
    position: relative;
    bottom: 100px;
    border-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #cccccc;
}
body {
    background-image: url(../images/background.png);
    background-color: #ffffff;
}
#pagecontent {
    position: relative;
    bottom: 100px;
}
.contentheader {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 30px;
    border-style: solid;
    border-bottom-width: 2px;
    border-color: #cccccc;
    margin-left: 30px;
    margin-right: 30px;
}
#portrait {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
#jumbotop {
    margin-top: 34px;
}
.jumbotron {
    width: 960px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd;
}
.jumbotron {
    margin-left: 75px;
}
@media only screen and (max-width: 1199px) {
    .jumbotron {
        width: 100%;
        margin-left: 0px;
    }
    #navbarbuttons{
        margin-left: -2px;
    }
}
@media only screen and (max-width: 991px) {
    #navbarbuttons{
        margin-left: 28px;
    }
}
@media only screen and (max-width: 767px) {
    #portrait {
        height: 150px;
        width: 150px;
    }
}
article {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 20px;
    line-height: 30px;
    margin: 30px;
    padding-bottom: 30px;
}
footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding-top: 36px;
    padding-bottom: 6px;
    color: #ffffff;
    background-color: #666666;
    border-style: solid;
    border-top-width: 6px;
}
/* form {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
} */
#contactheader {
    margin-top: 64px;
}
.btn-primary {
    border-color: #dddddd;
}
.btn-primary:hover {
    border-color: #777777;
}
.pflist {
    margin-left: 15px;
    margin-top: 30px;
}
.pfitem {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    width: 230px;
    text-align: center;
    font-size: 20px;
    position: relative;
    bottom: 90px;
}
#pf1, #pf2, #pf3, #pf4, #pf5 {
    color: #ffffff;
    text-decoration: none;
}
.pfitem, .btn-primary, .btn-primary:hover, #navname {
    background-color: #16bc95;
}
footer {
    border-color: #16bc95;
}
.contentheader {
    color: #16bc95;
}
a:hover, a:focus, a:active {
    color: #16bc95;
}
a, a:visited{
    color: #16bc95;
}